.row.song_show_details
	.col-xs-8
		.song_content
			.play_button
				=link_to "", :onclick => "wavesurfer#{@song.id}.playPause(); return false", class:"btn btn-default btn-lg" do
					%i.fa.fa-play

			.song_title
				%p
					=link_to @song.user.username, "#" if @song.user.username
				%h4
					=link_to @song.title, song_path(@song)

			.song_category
				-@song.categories.each do |sc|
					%span.badge
						=sc.name

			.song_wave{ :id => "wave_#{@song.id.to_s}" }
				.overlay_show_song
			.song_buttons
				-if user_signed_in?
					=link_to like_song_path(@song), method: :put, class:"like_button" do
						%i.fa.fa-heart
						%span 
							=@song.get_upvotes.size
				-else
					.like_button
						%i.fa.fa-heart
							%span 
								=@song.get_upvotes.size

				.btn.btn-default.btn-sm
					%i.fa.fa-comments
					%span
						=@song.comments.count


	.col-xs-4.text-center
		.image
			=image_tag @song.cover.url(:show_page) if @song.cover.url
		-if user_signed_in?
			%p.edit_song_buttons
				-if user_signed_in? && current_user.id == @song.user_id
					=link_to "Edit", edit_song_path(@song), class:"btn btn-default btn-sm"
					=link_to "Delete", song_path(@song), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-follow btn-sm"
	
.row.white.song_user_details
	.col-xs-3.text-center
		.well
			=image_tag @user.avatar.url(:small), class:"img-circle"
			%h5.text-muted
				= link_to @user.username, "#"
			%p
				-if user_signed_in?
					-if current_user.following?(@user)
						=render 'users/unfollow'
					-else
						=render 'users/follow'
				-else
					%p
			%p.small
				%span
					following
					="(#{@user.following.count})"
					followers
					="(#{@user.followers.count})"
	.col-xs-9
		.song_description
			%p
				=@song.description
		.comments_section
			-if @song.comments.present?
				%p.text-muted
					Recent comments
					%hr/
					=render @song.comments
					
		-if user_signed_in?
			.row.white.song_comment_details
				.col-xs-12
					%p
						=render 'comments/comment_form'

:javascript
	var wavesurfer#{@song.id} = Object.create(WaveSurfer);

	wavesurfer#{@song.id}.init({
	    container: document.querySelector('#wave_#{@song.id}'),
	    waveColor: 'white',
	    progressColor: '#F45B69',
	    barWidth: 2,
			reflection: true,
	    hideScrollbar: true,
	    height: 200
	});

	wavesurfer#{@song.id}.load('#{ @song.audio }');





