%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    -# Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "S", root_path, class:"navbar-brand"
      -# Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            =link_to "Home", home_path
          %li
            =link_to "Collection", collection_path
        %form.navbar-form.navbar-left.search{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}
          -# %button.btn.btn-default{:type => "submit"} Submit
        %ul.nav.navbar-nav.navbar-right
          %li
            =link_to "Upload", new_song_path, class:"upload_button"
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span
                =image_tag current_user.avatar.url, size: "20x20", class:'img-circle'
              -if current_user.admin?
                =current_user.username
                (Admin)
              -else
                =current_user.username
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li.user_menu
                =link_to "Profile", edit_user_registration_path
              %li.user_menu
                =link_to "Users List", users_path(@user)
              %li.user_menu
                =link_to "Categories List", categories_path
              %li.user_menu
                =link_to "Following Users", following_user_path(current_user)
              %li.divider
              %li.user_menu
                =link_to "Log out", destroy_user_session_path, method: :delete
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span
                -if current_user.notifications.where(read_at: nil).count > 0
                  %i.fa.fa-bell.purple
                -else
                  %i.fa.fa-bell-slash
            %ul.dropdown-menu{:role => "menu", id:"notifications"}
              %li
                %a{class:"dropdown-item"}
                  -current_user.notifications.each do |notification|
                    -if notification.read_at == nil
                      =link_to mark_as_read_notification_path(notification), method: :put, class:"unread_notification" do
                        %i.fa.fa-bell
                        = "#{notification.actor.username} #{notification.action} #{notification.notifiable.class.to_s.downcase}."
                        
                    -elsif notification.read_at != nil
                      =link_to mark_as_read_notification_path(notification), method: :put, class:"read_notification" do
                        %i.fa.fa-bell-slash-o
                        = "#{notification.actor.username} #{notification.action} #{notification.notifiable.class.to_s.downcase}."
                =link_to "Show all notifications", notifications_path, class: "dropdown_all_notification"

                        
    /.navbar-collapse
  /.container-fluid